USE [master]
GO
/****** Object:  Database [StudentSystemDB]    Script Date: 4/1/2026 11:22:46 PM ******/
CREATE DATABASE [StudentSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentSystemDB]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 4/1/2026 11:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[CreditHours] [int] NULL,
	[ProfessorName] [nvarchar](100) NULL,
	[DefaultSemester] [tinyint] NULL,
	[DeptID] [int] NOT NULL,
	[YearLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/1/2026 11:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeptID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 4/1/2026 11:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[AcademicYear] [nvarchar](20) NULL,
	[Semester] [tinyint] NULL,
	[CourseGrade] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/1/2026 11:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[CurrentLevel] [tinyint] NULL,
	[DeptID] [int] NOT NULL,
	[Department] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/1/2026 11:22:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[LinkedStudentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [CreditHours], [ProfessorName], [DefaultSemester], [DeptID], [YearLevel]) VALUES (1, N'Database Systems', 3, NULL, 1, 1, 2)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CreditHours], [ProfessorName], [DefaultSemester], [DeptID], [YearLevel]) VALUES (2, N'Thermodynamics', 4, NULL, 2, 2, 3)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CreditHours], [ProfessorName], [DefaultSemester], [DeptID], [YearLevel]) VALUES (3, N'Circuits Analysis', 3, NULL, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (7, N'BIO')
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (1, N'Computer Science')
INSERT [dbo].[Departments] ([DeptID], [DeptName]) VALUES (3, N'Electrical Engineering')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [CourseID], [AcademicYear], [Semester], [CourseGrade]) VALUES (1, 1, 1, N'2', 1, CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [CourseID], [AcademicYear], [Semester], [CourseGrade]) VALUES (2, 2, 2, N'3', 2, CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [CourseID], [AcademicYear], [Semester], [CourseGrade]) VALUES (3, 3, 3, N'1', 1, CAST(75.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [FullName], [Address], [Phone], [Email], [CurrentLevel], [DeptID], [Department]) VALUES (1, N'Ahmed Mohamed Salah', N'Cairo, Egypt', N'0123456789', N'ahmed@test.com', 2, 4, N'IT')
INSERT [dbo].[Students] ([StudentID], [FullName], [Address], [Phone], [Email], [CurrentLevel], [DeptID], [Department]) VALUES (2, N'Mona Ali Hassan', N'Alexandria', N'0987654321', N'mona@test.com', 2, 4, N'IT')
INSERT [dbo].[Students] ([StudentID], [FullName], [Address], [Phone], [Email], [CurrentLevel], [DeptID], [Department]) VALUES (3, N'Omar Said Ahmed', N'Giza', N'0112233', N'omar@test.com', 4, 3, NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [LinkedStudentID]) VALUES (1, N'test', N'test', N'Student', 1)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [LinkedStudentID]) VALUES (2, N'testt', N'test', N'Student', 2)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [LinkedStudentID]) VALUES (3, N'admin', N'admin', N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__5E50826588FABCDE]    Script Date: 4/1/2026 11:22:46 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DeptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Enrollme__C3B59CC43962C45C]    Script Date: 4/1/2026 11:22:46 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC,
	[AcademicYear] ASC,
	[Semester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E46B99750E]    Script Date: 4/1/2026 11:22:46 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[Departments] ([DeptID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[Departments] ([DeptID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([LinkedStudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([CreditHours]>(0)))
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD CHECK  (([DefaultSemester]=(2) OR [DefaultSemester]=(1)))
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD CHECK  (([CourseGrade]>=(0) AND [CourseGrade]<=(100)))
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD CHECK  (([Semester]=(2) OR [Semester]=(1)))
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD CHECK  (([CurrentLevel]>=(1) AND [CurrentLevel]<=(4)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Student' OR [Role]='Admin'))
GO
USE [master]
GO
